@media screen and (max-width:1399px){

}
@media screen and (max-width:1199px){}
@media screen and (max-width:992px){}
@media screen and (max-width:768px){
    html{
        font-size: 50%;
    }
}
@media screen and (max-width:568px){
    html{
        font-size: 40%;
    }
    .state_number{
        font-size: 2rem;
        width: 5rem;
        height: 5rem;
        padding: .5rem;
    }
}